.dashboard{
    text-align: center;
}
.dashboard .twoCol{
    display: flex;
}
.dashboard .twoCol .leftCol{
    flex-basis: 20%;
    height: 100vh;
    background: gainsboro;

}
.dashboard .twoCol .rightCol{
    flex-basis: 80%;

}
